## Loading Financial Data from the Web

*[Coding along with the Udemy course [Cryptocurrency Algorithmic Trading with Python and Binance](https://www.udemy.com/course/cryptocurrency-algorithmic-trading-with-python-and-binance/) by Alexander Hagman]*

In [1]:
import pandas as pd
import yfinance as yf

### Loading Historical Price Data

In [2]:
# start and end date for the data we want to pull
start = "2014-10-01"
end = "2021-05-31"
start, end

('2014-10-01', '2021-05-31')

In [3]:
symbol = "BA" # ticker symbol for Boeing, see https://finance.yahoo.com/

In [4]:
df = yf.download(symbol, start, end)
df # historical price data for Boeing, weekends and holidays are not trading days

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,BA,BA,BA,BA,BA,BA
Date,,,,,,
2014-10-01,108.406670,124.669998,127.370003,124.309998,127.370003,5265200
2014-10-02,107.971893,124.169998,125.550003,123.839996,124.400002,3204500
2014-10-03,109.876198,126.360001,126.870003,124.660004,124.660004,3075900
2014-10-06,109.789253,126.260002,127.190002,125.379997,127.089996,2681000
2014-10-07,107.232788,123.320000,125.519997,123.290001,125.519997,3554900
...,...,...,...,...,...,...
2021-05-24,237.440002,237.440002,238.500000,232.600006,235.139999,10106000
2021-05-25,240.740005,240.740005,243.779999,239.229996,240.000000,12908000
2021-05-26,241.369995,241.369995,242.490005,239.869995,241.699997,7240200
2021-05-27,250.699997,250.699997,252.600006,247.190002,248.110001,18404400
2021-05-28,247.020004,247.020004,248.979996,245.369995,247.479996,11197400

__What is the Adjusted Close price of a trading instrument?__

> The Adjusted Close price is the closing price of a financial instrument that has been modified to account for corporate actions like stock splits, dividends, and rights offerings. Unlike the standard Close price, which represents the last traded price at the end of a trading session, the Adjusted Close price provides a more accurate historical representation of a stock's value by retroactively adjusting past prices to reflect these corporate actions, enabling more accurate long-term performance analysis and comparisons (Claude.ai).

Boeing is a dividend paying stock so the *Adjusted Close* price is lower than the *Close* price. For instruments others than stocks *Adjusted Close* price and *Close* price are typically the same.

The daily trading volume is in units, like, for example, number of stocks traded.

In [5]:
df.info() # meta information

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1677 entries, 2014-10-01 to 2021-05-28
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (Adj Close, BA)  1677 non-null   float64
 1   (Close, BA)      1677 non-null   float64
 2   (High, BA)       1677 non-null   float64
 3   (Low, BA)        1677 non-null   float64
 4   (Open, BA)       1677 non-null   float64
 5   (Volume, BA)     1677 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 91.7 KB

In [6]:
# now lets get some more symbols
symbol = ['BA', 'MSFT', '^DJI', 'EURUSD=X', 'GC=F', 'BTC-USD']

- __BA__: Boeing (US Stock)
- __MSFT__: Microsoft Corp (US Stock)
- __^DJI__: Dow Jones Industrial Average (US Stock Index)
- __EURUSD=X__: Exchange rate for currency pair EURUSD (Forex)
- __GC=F__: Gold Price (Precious Metal / Commodity)
- __BTC-USD__: Bitcoin in USD (Cryptocurrency)

In [7]:
df = yf.download(symbol, start, end) # we'll get two index levels!!!
df

[*********************100%***********************]  6 of 6 completed

Price        Adj Close                                                   \
Ticker              BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406670    383.614990  1.262834  1214.599976   39.166985
2014-10-02  107.971893    375.071991  1.262419  1214.199951   39.047501
2014-10-03  109.876198    359.511993  1.267058  1192.199951   39.329105
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2021-05-26  241.369995  39294.199219  1.224909  1901.300049  244.217300
2021-05-27  250.699997  38436.968750  1.219260  1895.699951  242.100372
2021-05-28  247.020004  35697.605469  1.219319  1902.500000  242.459625
2021-05-29         NaN  34616.066406       NaN          NaN         NaN
2021-05-30         NaN  35678.128906       NaN          NaN         NaN

Price                          Close                                       \
Ticker              ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  124.669998    383.614990  1.262834  1214.599976
2014-10-02  16801.050781  124.169998    375.071991  1.262419  1214.199951
2014-10-03  17009.689453  126.360001    359.511993  1.267058  1192.199951
2014-10-04           NaN         NaN    328.865997       NaN          NaN
2014-10-05           NaN         NaN    320.510010       NaN          NaN
...                  ...         ...           ...       ...          ...
2021-05-26  34323.050781  241.369995  39294.199219  1.224909  1901.300049
2021-05-27  34464.640625  250.699997  38436.968750  1.219260  1895.699951
2021-05-28  34529.449219  247.020004  35697.605469  1.219319  1902.500000
2021-05-29           NaN         NaN  34616.066406       NaN          NaN
2021-05-30           NaN         NaN  35678.128906       NaN          NaN

Price       ...      Open                                             Volume  \
Ticker      ...  EURUSD=X         GC=F        MSFT          ^DJI          BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   46.270000  17040.460938   5265200.0
2014-10-02  ...  1.262499  1215.300049   45.830002  16808.269531   3204500.0
2014-10-03  ...  1.266994  1212.400024   45.980000  16802.199219   3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN         NaN
2014-10-05  ...       NaN          NaN         NaN           NaN         NaN
...         ...       ...          ...         ...           ...         ...
2021-05-26  ...  1.224890  1901.300049  251.429993  34336.339844   7240200.0
2021-05-27  ...  1.219036  1896.800049  251.169998  34432.468750  18404400.0
2021-05-28  ...  1.219274  1897.500000  251.000000  34558.500000  11197400.0
2021-05-29  ...       NaN          NaN         NaN           NaN         NaN
2021-05-30  ...       NaN          NaN         NaN           NaN         NaN

Price
Ticker          BTC-USD EURUSD=X      GC=F        MSFT         ^DJI
Date
2014-10-01     26229400      0.0     178.0  38088400.0  104240000.0
2014-10-02     21777700      0.0     176.0  25119400.0   75490000.0
2014-10-03     30901200      0.0     499.0  32453200.0   87940000.0
2014-10-04     47236500      NaN       NaN         NaN          NaN
2014-10-05     83308096      NaN       NaN         NaN          NaN
...                 ...      ...       ...         ...          ...
2021-05-26  51346735160      0.0  170526.0  17771600.0  258780000.0
2021-05-27  43210968721      0.0   35794.0  24426200.0  520630000.0
2021-05-28  55200191952      0.0    2415.0  18270200.0  290850000.0
2021-05-29  45231013335      NaN       NaN         NaN          NaN
2021-05-30  31646080921      NaN       NaN         NaN          NaN

[2434 rows x 36 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2434 entries, 2014-10-01 to 2021-05-30
Freq: D
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, BA)        1677 non-null   float64
 1   (Adj Close, BTC-USD)   2434 non-null   float64
 2   (Adj Close, EURUSD=X)  1735 non-null   float64
 3   (Adj Close, GC=F)      1674 non-null   float64
 4   (Adj Close, MSFT)      1677 non-null   float64
 5   (Adj Close, ^DJI)      1677 non-null   float64
 6   (Close, BA)            1677 non-null   float64
 7   (Close, BTC-USD)       2434 non-null   float64
 8   (Close, EURUSD=X)      1735 non-null   float64
 9   (Close, GC=F)          1674 non-null   float64
 10  (Close, MSFT)          1677 non-null   float64
 11  (Close, ^DJI)          1677 non-null   float64
 12  (High, BA)             1677 non-null   float64
 13  (High, BTC-USD)        2434 non-null   float64
 14  (High, EURUSD=X)       1735 non-null   float64
 15  (High, GC=F)           1674 non-null   float64
 16  (High, MSFT)           1677 non-null   float64
 17  (High, ^DJI)           1677 non-null   float64
 18  (Low, BA)              1677 non-null   float64
 19  (Low, BTC-USD)         2434 non-null   float64
 20  (Low, EURUSD=X)        1735 non-null   float64
 21  (Low, GC=F)            1674 non-null   float64
 22  (Low, MSFT)            1677 non-null   float64
 23  (Low, ^DJI)            1677 non-null   float64
 24  (Open, BA)             1677 non-null   float64
 25  (Open, BTC-USD)        2434 non-null   float64
 26  (Open, EURUSD=X)       1735 non-null   float64
 27  (Open, GC=F)           1674 non-null   float64
 28  (Open, MSFT)           1677 non-null   float64
 29  (Open, ^DJI)           1677 non-null   float64
 30  (Volume, BA)           1677 non-null   float64
 31  (Volume, BTC-USD)      2434 non-null   int64
 32  (Volume, EURUSD=X)     1735 non-null   float64
 33  (Volume, GC=F)         1674 non-null   float64
 34  (Volume, MSFT)         1677 non-null   float64
 35  (Volume, ^DJI)         1677 non-null   float64
dtypes: float64(35), int64(1)
memory usage: 703.6 KB

In [12]:
# saving the data to a local csv file
df.to_csv("../../assets/data/multi_assets.csv", index=True, header=True)